<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3a26eedc84.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="headerMobile">
            <nav class="logo-buscador-usarioCarrito">
                <i class="fa-solid fa-bars"></i>
                <div class="menuHamburguesa">
                    <ul>
                        <li><a href="">Iniciar sesion</a></li>
                        <li><a href="">Registrate</a></li>
                    </ul>
                    <hr>
                    <nav class="categorias">                   
                        <h3>Categorias</h3>
                        <ul>
                            <li><a href="">Perifericos</a></li>
                            <li><a href="">Almacenamiento</a></li>
                            <li><a href="">Procesadores</a></li>
                            <li><a href="">Fuentes</a></li>
                            <li><a href="">Placas Madre</a></li>
                            <li><a href="">Memorias Ram</a></li>
                            <li><a href="">Monitores</a></li>
                        </ul>
                    </nav>
                    <hr>
                    <ul class="sobreNosotros-contactanos">
                        <li><a href="">Sobre Nosotros</a></li>
                        <li><a href="">Contactanos</a></li>
                    </ul>
                </div>
                <img src="/Grupo_2_WishWave/public/img/wishtech.jpg" alt="Logo WishTech">
                <div class="buscador">
                    <button><i class="fa-brands fa-searchengin"></i></button>
                    <div class="ventanaEmergente">
                        <input type="text">
                        <button><i class="fa-brands fa-searchengin"></i></button>
                    </div>
                </div>                                           
            </nav>
        </div>
        <div class="headerDesktop">
            <div class="logo-buscador-usarioCarrito">
                <img src="/img/wishtech.jpg" width="200px" alt="Logo WishTech">
                <div class="buscador">
                    <input type="text">
                    <button><i class="fa-brands fa-searchengin"></i></button>
                </div>
                <div class="usuarioCarrito">
                    <div class="usuario">
                        <a href=""><i class="fa-solid fa-user"></i>Iniciar Sesion</a>
                    </div>
                    <div class="carrito">
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Carrito de Compras</a>
                    </div>
                    
                </div>
            </div>
            <nav class="categorias">
                <ul>
                    <li><a href="">Perifericos</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Fuentes</a></li>
                    <li><a href="">Placas Madre</a></li>
                    <li><a href="">Memorias Ram</a></li>
                    <li><a href="">Monitores</a></li>
                </ul>
            </nav>
        </div>
       
    </header>
    <main>
        <div class="carrusel">

        </div>
        <aside>
            <form class="filtros-productos" action="" method="GET">
                <div class="">
                    <h4>Procesadores</h4>
                    <div>
                        <label for="amd">AMD</label>
                        <input type="radio" name="procesadores" id="cpu-amd">
                    </div>
                    <div>
                        <label for="intel">Intel</label>
                        <input type="radio" name="procesadores" id="cpu-intel">
                    </div>
                </div>
                <div class="">
                    <h4>Placas Madres</h4>
                    <div>
                        <label for="mother-amd">AMD</label>
                        <input type="radio" name="placas-madre" id="mother-amd">
                    </div>
                    <div>
                        <label for="mother-amd">Intel</label>
                        <input type="radio" name="placas-madre" id="mother-intel">
                    </div>
                </div>
                <div class="">
                    <h4>Memorias Ram</h4>
                    <div>
                        <label for="ram">Memorias</label>
                        <input type="radio" name="memorias-ram" id="ram">
                    </div>
                    <div>
                        <label for="ram-notebook">Memorias Notebook</label>
                        <input type="radio" name="memorias-ram" id="ram-notebook">
                    </div>
                </div>
                <div class="">
                    <h4>Almacenamiento</h4>
                    <div>
                        <label for="hdd">HDD</label>
                        <input type="radio" name="almacenamiento" id="hdd">
                    </div>
                    <div>
                        <label for="ssd">SSD</label>
                        <input type="radio" name="almacenamiento" id="ssd">
                    </div>
                    <div>
                        <label for="externo">Externo</label>
                        <input type="radio" name="almacenamiento" id="externo">
                    </div>
                </div>
                <div class="">
                    <h4>Fuentes</h4>
                    <div>
                        <label for="f-cert">Certificadas</label>
                        <input type="radio" name="fuentes-alimentacion" id="f-cert">
                    </div>
                    <div>
                        <label for="f-no-cert">No Certificadas</label>
                        <input type="radio" name="fuentes-alimentacion" id="f-no-cert">
                    </div>
                </div>
                <div class="">
                    <h4>Monitores</h4>
                    <div>
                        <label for="m-samsung">Samsung</label>
                        <input type="radio" name="Monitores" id="m-samsung">
                    </div>
                    <div>
                        <label for="m-lg">LG</label>
                        <input type="radio" name="Monitores" id="m-lg">
                    </div>
                    <div>
                        <label for="m-asus">ASUS</label>
                        <input type="radio" name="Monitores" id="m-asus">
                    </div>
                    <div>
                        <label for="m-msi">MSI</label>
                        <input type="radio" name="Monitores" id="m-msi">
                    </div>
                    <div>
                        <label for="m-philips">Philips</label>
                        <input type="radio" name="Monitores" id="m-philips">
                    </div>
                </div>
                <div class="">
                    <h4>Perifericos</h4>
                    <div>
                        <label for="mouse">Mouse</label>
                        <input type="radio" name="perifericos" id="mouse">
                    </div>
                    <div>
                        <label for="teclado">Teclado</label>
                        <input type="radio" name="perifericos" id="teclado">
                    </div>
                    <div>
                        <label for="auriculares">Auriculares</label>
                        <input type="radio" name="perifericos" id="auriculares">
                    </div>
                </div>
            </form>
        </aside>
        <section>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="sobre-nosotros">
            <a href="/sobre-nosotros">Sobre Nosotros</a>
        </div>
        <div class="defensa-consumidor">
            <h3>Defensa al consumidor</h3>
            <a href="https://servicios.infoleg.gob.ar/infolegInternet/anexos/0-4999/638/norma.htm" target="_blank">Ley de defensa del consumidor</a>
            <a href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/conoce-tus-derechos" target="_blank">Conocé tus derechos consumidor</a>
        </div>
        <div class="redes">
            <h3>Nuestras Redes</h3>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>
    </footer>

</body>
</html>