<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3a26eedc84.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="headerMobile">
            <nav class="logo-buscador-usarioCarrito">
                <i class="fa-solid fa-bars"></i>
                <div class="menuHamburguesa">
                    <ul>
                        <li><a href="">Iniciar sesion</a></li>
                        <li><a href="">Registrate</a></li>
                    </ul>
                    <hr>
                    <nav class="categorias">                   
                        <h3>Categorias</h3>
                        <ul>
                            <li><a href="">Perifericos</a></li>
                            <li><a href="">Almacenamiento</a></li>
                            <li><a href="">Procesadores</a></li>
                            <li><a href="">Fuentes</a></li>
                            <li><a href="">Placas Madre</a></li>
                            <li><a href="">Memorias Ram</a></li>
                            <li><a href="">Monitores</a></li>
                        </ul>
                    </nav>
                    <hr>
                    <ul class="sobreNosotros-contactanos">
                        <li><a href="">Sobre Nosotros</a></li>
                        <li><a href="">Contactanos</a></li>
                    </ul>
                </div>
                <img src="" alt="Logo WishTech">
                <div class="buscador">
                    <button><i class="fa-brands fa-searchengin"></i></button>
                    <div class="ventanaEmergente">
                        <input type="text">
                        <button><i class="fa-brands fa-searchengin"></i></button>
                    </div>
                </div>                                           
            </nav>
        </div>
        <div class="headerDesktop">
            <div class="logo-buscador-usarioCarrito">
                <img src="" alt="Logo WishTech">
                <div class="buscador">
                    <input type="text">
                    <button><i class="fa-brands fa-searchengin"></i></button>
                </div>
                <div class="usuarioCarrito">
                    <a href=""><i class="fa-solid fa-user"></i>Iniciar Sesion</a>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i>Carrito de Compras</a>
                </div>
            </div>
            <nav class="categoraias">
                <ul>
                    <li><a href="">Perifericos</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Fuentes</a></li>
                    <li><a href="">Placas Madre</a></li>
                    <li><a href="">Memorias Ram</a></li>
                    <li><a href="">Monitores</a></li>
                </ul>
            </nav>
        </div>
       
    </header>
    <main>
        <div class="carrusel">

        </div>
        <section>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="">
                <div>
                    <h4>Nombre</h4>
                    <p>Precio</p>
                </div>
            </article>
        </section>
    </main>
    <footer>

    </footer>

</body>
</html>