<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/Logo WishTech.png">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link href="css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3a26eedc84.js" crossorigin="anonymous"></script>
    <title>WishTech | Home</title>
</head>
<body>
    <header>
        <div id="relleno-header"></div>
        <div class="header-mobile">
            <nav class="logo-buscador-usuario-carrito">
                <div class="menu-icono">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </div>
                <div class="menu-hamburguesa">
                    <ul>
                        <li><a href="">Iniciar sesion</a></li>
                        <li><a href="">Registrate</a></li>
                    </ul>
                    <hr>
                    <nav class="categorias">                   
                        <h3>Categorias</h3>
                        <ul>
                            <li><a href="">Perifericos</a></li>
                            <li><a href="">Almacenamiento</a></li>
                            <li><a href="">Procesadores</a></li>
                            <li><a href="">Fuentes</a></li>
                            <li><a href="">Placas Madre</a></li>
                            <li><a href="">Memorias Ram</a></li>
                            <li><a href="">Monitores</a></li>
                        </ul>
                    </nav>
                    <hr>
                    <ul class="sobre-nosotros-contactanos">
                        <li><a href="">Sobre Nosotros</a></li>
                        <li><a href="">Contactanos</a></li>
                    </ul>
                </div>
                <img id="logo-header" src="/img/Logo WishTech.png" alt="Logo WishTech">
                <div class="buscador">
                    <button id="boton-lupa"><i class="fa-solid fa-magnifying-glass fa-2xl"></i></button>
                    <div class="ventana-busqueda">
                        <input type="text">
                        <button id="boton-lupa-ventana"><i class="fa-brands fa-searchengin"></i></button>
                    </div>
                </div>                                           
            </nav>
        </div>
        <div class="header-desktop">
            <div class="logo-buscador-usuario-carrito">
                <img id="logo-header-D" src="/img/Logo WishTech.png" alt="Logo WishTech">
                <div class="buscador-usuario-container">
                    <div class="buscador">
                        <input type="text" placeholder="Encontrá lo que necesitás">
                        <button><i class="fa-brands fa-searchengin"></i></button>
                    </div>
                    <div class="usuario-carrito">
                        <div class="usuario">
                            <a href=""><i class="fa-solid fa-user"></i>Iniciar Sesion</a>
                        </div>
                        <div class="carrito">
                            <a href=""><i class="fa-solid fa-cart-shopping"></i>Carrito de Compras</a>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="categorias">
                    <li><a href="">Perifericos</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Fuentes</a></li>
                    <li><a href="">Placas Madre</a></li>
                    <li><a href="">Memorias Ram</a></li>
                    <li><a href="">Monitores</a></li>
                </ul>
            </nav>
        </div>
       
    </header>
    <main>
        <div class="carrusel-container">
            <h2 id="titulo-carrusel">OFERTAS</h2>
            <div class="carrusel">
                <ul>
                    <li>
                        <div class="li-container">
                            <img src="/img/oferta/Ryzen 7.png" alt="Ryzen 7">
                        <div class="producto-precio-carrusel">
                            <h4>Ryzen 7 5700X</h4>
                            <p>$295.900</p>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="li-container">
                            <img src="/img/oferta/RTX 3060.png" alt="Nvidia RTX 3060">
                        <div class="producto-precio-carrusel">
                            <h4>Nvidia RTX 3060</h4>
                            <p>$517.180</p>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="li-container">
                            <img src="/img/oferta/M.2 Crucial.png" alt="M.2 Crucial">
                        <div class="producto-precio-carrusel">
                            <h4>SSD M.2 500GB</h4>
                            <p>$39.800</p>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="li-container">
                            <img src="/img/oferta/Intel i5.png" alt="Intel core i5">
                            <div class="producto-precio-carrusel">
                                <h4>Intel Core i5 11400F</h4>
                                <p>$172.000</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <aside class="aside-filtros">
            <form class="filtros-productos" action="" method="GET">
                <div class="prod-procesadores">
                    <h4>Procesadores</h4>
                    <div>
                        <label for="amd">AMD</label>
                        <input  id="cpu-amd" type="radio" name="procesadores">
                    </div>
                    <div>
                        <label for="intel">Intel</label>
                        <input id="cpu-intel" type="radio" name="procesadores">
                    </div>
                </div>
                <div class="prod-placas-madre">
                    <h4>Placas Madres</h4>
                    <div>
                        <label for="mother-amd">AMD</label>
                        <input id="mother-amd" type="radio" name="placas-madre">
                    </div>
                    <div>
                        <label for="mother-amd">Intel</label>
                        <input id="mother-intel" type="radio" name="placas-madre">
                    </div>
                </div>
                <div class="prod-memorias-ram">
                    <h4>Memorias Ram</h4>
                    <div>
                        <label for="ram">Memorias</label>
                        <input id="ram" type="radio" name="memorias-ram">
                    </div>
                    <div>
                        <label for="ram-notebook">Memorias Notebook</label>
                        <input id="ram-notebook" type="radio" name="memorias-ram">
                    </div>
                </div>
                <div class="prod-almacenamiento">
                    <h4>Almacenamiento</h4>
                    <div>
                        <label for="hdd">HDD</label>
                        <input id="hdd" type="radio" name="almacenamiento">
                    </div>
                    <div>
                        <label for="ssd">SSD</label>
                        <input id="ssd" type="radio" name="almacenamiento">
                    </div>
                    <div>
                        <label for="externo">Externo</label>
                        <input id="externo" type="radio" name="almacenamiento">
                    </div>
                </div>
                <div class="prod-fuentes">
                    <h4>Fuentes</h4>
                    <div>
                        <label for="f-cert">Certificadas</label>
                        <input id="f-cert" type="radio" name="fuentes-alimentacion">
                    </div>
                    <div>
                        <label for="f-no-cert">No Certificadas</label>
                        <input id="f-no-cert" type="radio" name="fuentes-alimentacion">
                    </div>
                </div>
                <div class="prod-monitores">
                    <h4>Monitores</h4>
                    <div>
                        <label for="m-samsung">Samsung</label>
                        <input id="m-samsung" type="radio" name="monitores">
                    </div>
                    <div>
                        <label for="m-lg">LG</label>
                        <input id="m-lg" type="radio" name="monitores">
                    </div>
                    <div>
                        <label for="m-asus">ASUS</label>
                        <input id="m-asus" type="radio" name="monitores">
                    </div>
                    <div>
                        <label for="m-msi">MSI</label>
                        <input id="m-msi" type="radio" name="monitores">
                    </div>
                    <div>
                        <label for="m-philips">Philips</label>
                        <input id="m-philips" type="radio" name="monitores">
                    </div>
                </div>
                <div class="prod-perifericos">
                    <h4>Perifericos</h4>
                    <div>
                        <label for="mouse">Mouse</label>
                        <input id="mouse" type="radio" name="perifericos">
                    </div>
                    <div>
                        <label for="teclado">Teclado</label>
                        <input id="teclado" type="radio" name="perifericos">
                    </div>
                    <div>
                        <label for="auriculares">Auriculares</label>
                        <input id="auriculares" type="radio" name="perifericos">
                    </div>
                </div>
            </form>
        </aside>
        <section id="productos-container">
            <h2>NOVEDADES</h2>
            <article class="producto">
                <img src="/img/oferta/Ryzen 7.png" alt="Ryzen 7">
                <div>
                    <h4 class="producto-nombre">Ryzen 7 5700X</h4>
                    <p class="producto-precio">$295.900</p>
                </div>
            </article>
            <article class="producto">
                <img src="/img/oferta/Intel i5.png" alt="Intel core i5">
                <div>
                    <h4 class="producto-nombre">Intel Core i5 11400F</h4>
                    <p class="producto-precio">$172.000</p>
                </div>
            </article>
            <article class="producto">
                <img src="/img/oferta/M.2 Crucial.png" alt="M.2 Crucial">
                <div>
                    <h4 class="producto-nombre">SSD M.2 500GB</h4>
                    <p class="producto-precio">$39.800</p>
                </div>
            </article>
            <article class="producto">
                <img src="/img/oferta/RTX 3060.png" alt="Nvidia RTX 3060">
                <div>
                    <h4 class="producto-nombre">Nvidia RTX 3060</h4>
                    <p class="producto-precio">$517.180</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="sobre-nosotros-redes">
            <h3>Nuestras Redes</h3>
            <div class="redes-links">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
            </div>
            <a id="sobre-nosotros-footer" href="/sobre-nosotros">Sobre Nosotros</a>
        </div>
        <div class="defensa-consumidor">
            <h3>Defensa al consumidor</h3>
            <a href="https://servicios.infoleg.gob.ar/infolegInternet/anexos/0-4999/638/norma.htm" target="_blank">Ley de defensa del consumidor</a>
            <a href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/conoce-tus-derechos" target="_blank">Conocé tus derechos consumidor</a>
        </div>
    </footer>

</body>
</html>