/* Paleta de colores
Negro: #222831;
Gris: #393E46;
Verde Agua: #00ADB5;
Blanco: #EEEEEE;
*/



/* All */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




/* BODY MOBILE */

body {
  background: #EEEEEE;
  font-family:'Share Tech', sans-serif;
}




/* Header display:none */

.menu-hamburguesa {
  display: none;
}

.ventana-busqueda {
  display:none;
}

.header-desktop {
  display: none;
}

.aside-filtros {
  display:none;
}




/* HEADER MOBILE */

.logo-buscador-usuario-carrito {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
  background: radial-gradient(circle, #393E46, #222831);
}


.menu-icono {
  border: 1px #00ADB5 solid;
  padding: 12px 10px 10px 10px;
  border-radius: 3px;
  color: #00ADB5;
}

.menu-icono:active {
  color: #EEEEEE;
  border-color: #EEEEEE;
  box-shadow: 0px 0px 3px #00ADB5;
  transition: all .1s;
}

#logo-header {
  width: 30%;
}

#boton-lupa {
  background: rgba(0, 0, 0, 0);
  color: #00ADB5;
  border: none;
}

#boton-lupa:active {
  color: #EEEEEE;
  text-shadow: 0px 0px 3px #00ADB5;
  transition: all .1s;
}



/* MAIN MOBILE */


/* CARRUSEL MOBILE */

.carrusel-container {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

#titulo-carrusel {
  position: absolute;
  top: 10px;
  z-index: 1;
  margin-right: 20px;
  animation: fade 20s infinite alternate;
}

.carrusel {
  width: 100%;
  height: auto;
  margin: 0px auto 10px;
  overflow: hidden;
}

.carrusel ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate;
}

.li-container {
  width: 100%;
  padding: 10px;
  background: #eeeeee;
}

.carrusel li {
  width: 100%;
  list-style: none;
  position: relative;
}

.carrusel img {
  width: 50%;
}

.producto-precio-carrusel {
  position: absolute;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 20px;
  right: 10px;
  font-size: 25px;
  max-width: 40%;
}

@keyframes slide {
  0% { margin-left: 0; }
  20% { margin-left: 0; }

  25% { margin-left: -100%; }
  45% { margin-left: -100%; }

  50% { margin-left: -200%; }
  70% { margin-left: -200%; }

  75% { margin-left: -300%; }
  100% { margin-left: -300%; }
}

@keyframes fade {
  0% { opacity: 1; }
  20% { opacity: 1; }
  22.5% { opacity: 0; }
  25% { opacity: 1; }
  45% { opacity: 1; }
  47.5% { opacity: 0;}
  50% { opacity: 1; }
  70% { opacity: 1; }
  72.5% { opacity: 0;}
  75% { opacity: 1; }
  100% { opacity: 1; }
}



/* PRODUCTS AREA */

#productos-container h2 {
  text-align: center;
  border-bottom: 2px solid;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 90%;
  color: #444444;
}

#productos-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: auto;
  gap: 50px;
}

.producto {
  width: 95%;
  box-shadow: 2px 2px 5px #4d545f;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.producto img {
  width: 40%;
}

.producto div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.producto-nombre {
  font-size: 25px;
}

.producto-precio {
  font-size: 22px;
}



/* FOOTER MOBILE */

footer {
  margin-top: 50px; 
  background: radial-gradient(circle, #393E46, #222831);
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}

footer div {
  min-width: 40%;
}

.sobre-nosotros-redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sobre-nosotros-footer {
  display: flex;
  flex-direction: column;
}

#sobre-nosotros-footer {
  color: #00ADB5;
}

#sobre-nosotros-footer:visited {
  color: #00ADB5;
}

.defensa-consumidor {
  display: flex;
  flex-direction: column;
}

.sobre-nosotros-redes h3, .defensa-consumidor h3 {
  color: #EEEEEE;
  margin-bottom: 10px;
  margin-top: 20px;
}

.redes-links {
  display: flex;
  flex-direction: row;
  gap: 17px;
  margin-top: -2px;
}

.redes-links a {
  color: #00ADB5;
}

.defensa-consumidor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.defensa-consumidor a {
  color: #00ADB5;
}



  