/* Paleta de colores
Negro: #222831;
Gris: #393E46;
Verde Agua: #00ADB5;
Blanco: #EEEEEE;
*/

/* All */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */

body {
  background: #EEEEEE;
  font-family:'Share Tech', sans-serif;
}

/* Header */

.headerMobile {
  display: block;
}






  